body{
    margin: 0;
    padding: 0;
}

.main-container{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9rem 4rem;
    padding: 2rem;
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
}

img{
    border-radius: 10px;
}

h2{
    margin: 0px;
}

p{
    margin: 15px 0;
}

@media (max-width: 375px){
    .main-container{
        grid-template-columns: repeat(1, 1fr);

    }
}

@media (max-width: 768px){
    .main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}